.main {
  display: flex;
  flex-direction: column;
  padding: 6rem;
  min-height: 100vh;
}

.weatherTitle {
  font-size: 3rem;
}

.weatherHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}