.weatherCardContainer {
    display: flex;
    border: 1px solid #000;
    margin: 0px 10px;
    width: 160px;
    flex-direction: column;
    align-items: center;
}

.temperature {
    font-size: 18px;
}

.weatherImage {
    width: 30px;
}